<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="   crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<style>

ul{
  text-decoration: none;
  list-style: none;
}
  .rem{

  }
  .rem2{

  }
  .jumbotron{
    width:1300px;
  }
  .comm{

  }
  .comup{

  }
  .comdown{

  }

</style>
<body>

<div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"><a href="/user">Home</a></li>
      <li><a href="/question/<%=sign.Eid%>">Ask a Question</a></li>
      <li><a href="/ans">Answer</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/profile"> Profile</a></li>
      <li class="active"><a href="/profile"> <i class="fa fa-bell-o" aria-hidden="true"> </i></a></li>

    </ul>

  </div>
</nav>


</div>
<div><p>Welcome <%=sign.name%></p>

</div>


<div id="eque">

<ul v-for="x in ques">
<div id="jumbotron">

<li class="jumbotron">
<p>Ques. {{x.content}} </p>
  <p>Asked By:-{{x.name}}</p>

          </div>
        </div>
      </li>
    </ul>
  </div>

</div>

</li>

</div>

</ul>

</div>
<br>

  <script>


  new Vue({
      el:"#check",
      data:{
          len:[],
          tmp:'hello',
          ques:[<% ques.forEach(function(x){%>
              <%x.anser._id=0%>
              {content:'<%=x.topic%>',upvote:'<%=x.upvote.length%>',downvote:'<%=x.downvote.length%>',ans:'<%= x.ansby%>',project:'<%=x.qid%>',ansid:'<%=x.ans%>',,cat:[<%x.category.forEach(function(q){%>'<%=q%>',<%})%>],time:'<%=x.time%>' },
            <%})%>]
      },
      methods:{
        link:function(li)
        {
          return '/'+li;
        }

      }
  });


  </script>
</body>
</html>
